.root {
  position: relative;
  text-align: center;
}

.value {
  color: #10414D;;
  font-size: 2.5rem;
  font-family: ABCSerif, sans-serif;
  font-weight: bold;
  line-height: 1;
}

.bar {
  position: relative;
  height: 2rem;
}

.fill {
  appearance: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
  height: 1.5625rem;
  background: #ECEFEF;
  box-shadow: inset 0 0 0 .125rem #D9DFE0;
  color: #10414D;
}

.fill::-webkit-progress-bar {
  background: none;
}

.fill::-webkit-progress-value {
  background: #10414D;
  transition: width .5s cubic-bezier(0.42, 0, 0.58, 1);
}

.fill::-moz-progress-bar {
  background: #10414D;
}

.fill::-ms-fill {
  background: #10414D;
  transition: width .5s cubic-bezier(0.42, 0, 0.58, 1);
}

.tick {
  appearance: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
  height: 1.875rem;
  background: none;
}

.tick::-webkit-progress-bar {
  background: none;
}

.tick::-webkit-progress-value {
  border-right: .125rem solid #2E3638;
  background: none;
  transition: width .5s cubic-bezier(0.42, 0, 0.58, 1);
}

.tick::-moz-progress-bar {
  border-right: .125rem solid #2E3638;
  background: none;
}

.tick::-ms-fill {
  border-right: .125rem solid #2E3638;
  background: none;
  transition: width .5s cubic-bezier(0.42, 0, 0.58, 1);
}
