:global .scrollyteller-stage {
  display: flex;
  align-items: stretch;
  background-color: #f9f9f9;
}

@media (min-width: 43.75rem) {
  :global .scrollyteller-stage {
    align-items: center;
    background-color: #10414D;
  }
}

:global .scrollyteller-stage > * {
  margin: 2.75rem auto;
  width: 100%;
  max-width: 24.5rem;
  background-color: #f9f9f9;
}

@media (min-width: 43.75rem) {
  :global .scrollyteller-stage > * {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 61.25rem) {
  :global .Block.is-left .scrollyteller-stage > *,
  :global .Block.is-right .scrollyteller-stage > * {
    transition: transform .5s cubic-bezier(0.42, 0, 0.58, 1);
  }

  :global .Block.is-left .Block-media.is-fixed .scrollyteller-stage > * {
    transform: translate(18.125rem, 0);
  }
  
  :global .Block.is-right .Block-media.is-fixed .scrollyteller-stage > * {
    transform: translate(-18.125rem, 0);
  }
}

@media (min-width: 61.25rem) {
  :global .Block.is-left .Block-content::before,
  :global .Block.is-right .Block-content::before {
    content: none;
  }
}

:global .Block.is-piecemeal > .Block-content:last-child {
  margin-bottom: 125vh;
}
